.container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.reason-overflow {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-raised-button {
    margin-left: 20px;
}

mat-table {
    margin-top: 20px;
}